@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    color-scheme: light dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Add some styles for body*/
body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-image: url('../assets/bg.jpg');
}

.music-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    padding: 25px 15px;
    border-radius: 17px;
    background-color: #212936;
}

.song-img {
    width: 100%;
    max-width: 320px;
    object-fit: cover;
    border-radius: 17px;
}

.song-info {
    text-align: center;
}

.song-info h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.title-song {
    color: white;
}

.song-info p {
    margin-top: 5px;
    font-size: 12px;
    color: #4D5562;
}

.song-nav {
    margin-top: 20px;
    width: 100%;
}

.song-nav .minutes {
    font-size: 11px;
    font-weight: bold;
    color: #4D5562;
    display: flex;
    justify-content: space-between;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 0;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 0;

}


.progress-bar,
input[type="range"] {
    width: 100%;
    /* Ancho completo */
    margin-top: 10px;
    /* Espaciado superior */
    height: 5px;
    /* Grosor de la barra */
    border-radius: 10px;
    /* Bordes redondeados */
    appearance: none;
    /* Eliminar estilos nativos */
}

#seek-bar {
    background: linear-gradient(to right, #c93b76 0%, #c93b76 0%, #ffffff 0%, #ffffff 100%);
}

.song-buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.song-buttons .pause {
    border-radius: 50%;
    background: #C93B76;
    width: 54px;
    height: 54px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.song-buttons .previous {
    background: transparent;
    border: none;
    outline: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
}

.song-buttons .next {
    background-color: transparent;
    cursor: pointer;
    border: none;
}
